* {
  text-align: right;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
}

h2, p {
  color: #aa3939;
  text-align: center;
  border: 5px solid rgba(255, 170, 170, 0.5);
  cursor: pointer;
}

img {
    float: right;
}
/* p {
  color: blueviolet !important;
} */

footer {
    clear: both;
    text-align: center;
}

p {
  line-height: 50px;
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Clicker Script', cursive;
}

li {
  list-style: none;
  display: inline-block;
}

/* Class example */
.webtext:first-child {
  border: 5px dashed green;
}

.active {
  color: red;
}

/* Id example */
#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
