<% include partials/header %>
<h1>This is the home page!</h1>
<img src = "https://orig00.deviantart.net/7f4a/f/2018/074/a/2/mastered_ultra_instinct_goku_by_kadashyto-dc5zyic.png">
<% include partials/footer %>
