img {
  width: 30%;
  float:left; /* We got rid of the white space that the browser added for us */
  margin:1.66%; /* Basically we need to use the remaining part of the body for margins */
}

p {
  font-family: Raleway;
  font-size:23px;
  font-weight: 800;
  margin-left:1.66%;
  text-transform: uppercase;
  border-bottom: 2px solid #F1F1F1;
  padding-bottom: 20px;
  width: 30%;
}


